*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(47 6 64);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.wrapper{
    /* background-color: red; */
    padding: 5%;
    height: 78vh;
    margin-top: 10vh;
    background-color: rgb(26 13 219 / 20%);
    border-radius: 15%;
    box-shadow: 0px 3px 25px gold;
    width: 80%;
    gap: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.wrapper p{
    letter-spacing: 0.22em;
    color: #00ff97;
    margin-top: 3%;
    font-size: medium;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
span#challenge{
    letter-spacing: 0.15em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d90c0c;
    font-size: 1.5rem;
}
div.inputGuess{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
#myGuess {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    color: #333;
    /* background-color: #f5f5f5; */
    margin-top: 3%;
    background-color:  #b1dfc4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 85px;
  }
#lastFive{
    display: none;
}
#myGuess:focus {
    outline: none;
    box-shadow: 0px 5px 20px #25c3cb;
  }
button#submit{
    height: 40px;
    width: 125px;
    border-radius: 25px;
    margin-top: 3%;
    border:none;
    background-color:  #1cf777;
    box-shadow: 0px 5px 20px #25c3cb;
    color: rgb(51, 48, 1);
    font-size: 16px;
    margin-bottom: 3%;
}
button#submit:hover{
    font-size: 15px;
    text-transform: uppercase;
    color: gold;
    background-color: rgb(33 114 139 / 70%);
    box-shadow: 0px 5px 20px #25c3cb;
    transition: 1s;
}
div.guessedHistory{
    height: 20px;
    width: 95%;
    /* background-color: purple; */
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    color: rgb(40 172 213);
    font-size: 30px;
    justify-content: center;
}
span.greenClr{
    color:greenyellow;
    letter-spacing: 0.12em;
}
div.remarks{
    /* background-color: yellow; */
    font-size: 25px;
    color: rgb(214 16 161);
    padding-left: 5%;
}
@media (max-width:712px) {
    div.wrapper{
        padding: 15px;
    }
    div.wrapper p{
        letter-spacing: 0.12em;
        font-size: 16px;
    }
    span#challenge{
        letter-spacing: 0.12em;
        font-size: 1.19rem;
    }
    #myGuess {
        padding: 10px;
        margin-top: 0%;
      }
      button#submit{
        margin-bottom: 0%;
    }
    div.guessedHistory{
        margin-top: -3%;
        gap: 5%;
        font-size: 22px;
    }
    span.greenClr{
        letter-spacing: 0.1em;
    }
    div.remarks{
        font-size: 18px;
    }
    div.guessedHistory{
        flex-direction: column;
    }
    span.greenClr{
        font-size: 16px;
        letter-spacing: normal;
    }
}
@media (max-width:245px) {
    div.wrapper{
        padding: 15px;
        height: 90vh;
    }
    div.wrapper p{
        letter-spacing:normal;
        font-size: 16px;
    }
    span#challenge{
        letter-spacing: normal;
        font-size: normal;
    }
    #myGuess {
        padding: 10px;
        margin-top: 0%;
      }
      button#submit{
        margin-bottom: 0%;
    }
    div.guessedHistory{
        margin-top: -3%;
        gap: 5%;
        font-size: 16px;
    }
    span.greenClr{
        letter-spacing: 0.1em;
    }
    div.remarks{
        font-size: 12px;
    }
    span.greenClr{
        font-size: 12px;
        letter-spacing: normal;
    }
}